#show{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
}
.sty{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}
.st{
    border: 2px solid ;
    background-color: #e8b1b1;
}
.navbar{
    height: 5vh;
    width: 100vw;
    background-color: #7b6565;
    color: white;
    border: 2px solid rgb(236, 14, 14);
    display: flex;
    gap: 10px;
    /* text-align: center; */
    align-items: center;
    /* padding: 20px; */
    position: sticky;
    top: 0;
    margin-bottom: 10px;
}
.navbar a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    /* float: right; */
}
.navbar h1{
    margin-left: 10px;
    margin-right: 550px;
}